{"swagger":"2.0","info":{"version":"V1","title":"API","x-swagger-net-version":"8.5.28.001"},"host":"api.mintsoft.co.uk","schemes":["https"],"paths":{"/api/Accounting/Invoice/List":{"get":{"tags":["Accounting"],"operationId":"Accounting_ListInvoices","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ClientId","in":"query","required":false,"type":"integer","format":"int32","default":0},{"name":"PageNo","in":"query","required":false,"type":"integer","format":"int32","default":1},{"name":"Limit","in":"query","required":false,"type":"integer","format":"int32","default":100},{"name":"SinceDate","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ConfirmedInvoiceSummary"},"xml":{"name":"ConfirmedInvoiceSummary","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Accounting/Invoice/All":{"get":{"tags":["Accounting"],"operationId":"Accounting_GetInvoicesAll","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ConfirmedInvoiceSummary"},"xml":{"name":"ConfirmedInvoiceSummary","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Accounting/Invoice/{id}":{"get":{"tags":["Accounting"],"operationId":"Accounting_GetInvoices","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConfirmedInvoiceSummary"}}},"security":[{"ms-apikey":[]}]}},"/api/Accounting/Invoice/{id}/Orders":{"get":{"tags":["Accounting"],"operationId":"Accounting_GetInvoiceOrders","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/InvoiceItem"},"xml":{"name":"InvoiceItem","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Accounting/Invoice/Orders/{OrderId}":{"get":{"tags":["Accounting"],"operationId":"Accounting_GetInvoiceItemForOrder","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"OrderId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceItem"}}},"security":[{"ms-apikey":[]}]}},"/api/Accounting/AddCourierCost":{"post":{"tags":["Accounting"],"summary":"Add Courier Cost to InvoiceItem","description":"Used to add Courier Cost to an InvoiceItem that has failed due to no pricing available","operationId":"Accounting_AddCourierCost","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","description":"AddCourierCostRequest Json in the Body of the request - Either need to Supply OrderId, OrderNumber and ClientShortName or Tracking Number to locate a unique order","required":true,"schema":{"$ref":"#/definitions/AddCourierCostRequest"}}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"401":{"description":"Unauthorised request - API key invalid or not in the correct role"},"404":{"description":"Order Cannot be found using the supplied info"}},"security":[{"ms-apikey":[]}]}},"/api/Accounting/Invoice/{id}/Returns":{"get":{"tags":["Accounting"],"operationId":"Accounting_GetInvoiceReturns","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ReturnInvoiceItem"},"xml":{"name":"ReturnInvoiceItem","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Accounting/Invoice/{id}/GoodsIn":{"get":{"tags":["Accounting"],"operationId":"Accounting_GetInvoiceGoodsIn","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/GoodsInInvoiceItem"},"xml":{"name":"GoodsInInvoiceItem","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Accounting/Invoice/{id}/Collections":{"get":{"tags":["Accounting"],"operationId":"Accounting_GetInvoiceCollections","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/CollectionInvoiceItem"},"xml":{"name":"CollectionInvoiceItem","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Accounting/Invoice/{id}/Other":{"get":{"tags":["Accounting"],"operationId":"Accounting_GetInvoiceGenerics","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/GenericInvoiceItem"},"xml":{"name":"GenericInvoiceItem","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Account/Invoice/InvoiceItemTypes":{"get":{"tags":["Accounting"],"summary":"Get additional invoice item types.","operationId":"Accounting_GetInvoiceItemTypes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/InvoiceItemType"},"xml":{"name":"InvoiceItemType","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Account/Invoice/AddAdditionalInvoiceItem":{"post":{"tags":["Accounting"],"summary":"Add an additional invoice item.","operationId":"Accounting_AddAdditionalInvoiceItem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ClientId","in":"query","description":"Client's ID to add additional invoice item to","required":true,"type":"integer","format":"int32"},{"name":"Type","in":"query","description":"Invoice item type","required":true,"type":"string"},{"name":"Amount","in":"query","description":"Cost, or rate * quantity","required":true,"type":"number","format":"double"},{"name":"InvoiceDate","in":"query","description":"Invoice dates to apply additional invoice item: yyyy-MM-dd","required":true,"type":"string","format":"date-time"},{"name":"Comment","in":"query","description":"Optional - Add a comment","required":false,"type":"string","default":""},{"name":"WarehouseId","in":"query","description":"Warehouse ID to add additional invoice item to","required":false,"type":"integer","format":"int32","default":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Account/Invoice/GetUnconfirmedInvoiceSummary":{"get":{"tags":["Accounting"],"summary":"Get unconfirmed invoice summary.","operationId":"Accounting_GetUnconfirmedInvoiceSummary","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"clientID","in":"query","description":"Client's ID","required":true,"type":"integer","format":"int32"},{"name":"fromDate","in":"query","description":"From date: yyyy-MM-dd","required":true,"type":"string","format":"date-time"},{"name":"toDate","in":"query","description":"To date: yyyy-MM-dd","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InvoiceSummary"}}},"security":[{"ms-apikey":[]}]}},"/api/Account/Invoice/GetUnconfirmedInvoiceStorageCosts":{"get":{"tags":["Accounting"],"summary":"Get unconfirmed invoice storage costs.","operationId":"Accounting_GetUnconfirmedInvoiceStorageCosts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"clientID","in":"query","description":"Client's ID","required":true,"type":"integer","format":"int32"},{"name":"fromDate","in":"query","description":"From date: yyyy-MM-dd","required":true,"type":"string","format":"date-time"},{"name":"toDate","in":"query","description":"To date: yyyy-MM-dd","required":true,"type":"string","format":"date-time"},{"name":"pageNo","in":"query","required":false,"type":"integer","format":"int32","default":1},{"name":"limit","in":"query","required":false,"type":"integer","format":"int32","default":1000}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/StorageInvoiceItem"},"xml":{"name":"StorageInvoiceItem","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/ASN":{"put":{"tags":["ASN"],"summary":"Create new ASN(Advanced Shipping Notice)","description":"Used to Creating a new ASN i.e. Advising of a Delivery into the Warehouse","operationId":"ASN_CreateASN","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"ASN","in":"body","description":"ASN Json in the Body of the request","required":true,"schema":{"$ref":"#/definitions/NewASN"}}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}":{"get":{"tags":["ASN"],"summary":"Get ASN(Advanced Shipping Notice)","description":"Get back latest details about an Existing ASN","operationId":"ASN_GetASN","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ASN"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"post":{"tags":["ASN"],"summary":"Update ASN Details","description":"Update ASN Details for an Existing ASN","operationId":"ASN_UpdateASN","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"},{"name":"ASN","in":"body","required":true,"schema":{"$ref":"#/definitions/NewASN"}}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid User Permissions to perform Request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"delete":{"tags":["ASN"],"summary":"Delete ASN","description":"Delete ASN - Cannot be undone","operationId":"ASN_DeleteASN","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid User Permissions to perform Request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/List":{"get":{"tags":["ASN"],"summary":"List Of ASN(Advanced Shipping Notice)","description":"Get a List of ASNs within the system (ASN Items are excluded from this endpoint)","operationId":"ASN_ListASNs","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ASNStatusId","in":"query","description":"ASNStatusId can be supplied as a list e.g. 1;2;4 if you want to filter multiple statuses","required":false,"type":"string","default":""},{"name":"ClientId","in":"query","description":"ClientId - Filter by ClientId - 3PL Admin Users Only","required":false,"type":"integer","format":"int32","default":0},{"name":"PageNo","in":"query","description":"Page No - Default 1","required":false,"type":"integer","format":"int32","default":1},{"name":"Limit","in":"query","description":"Number of Result to be returned - Default 100 - Max 100","required":false,"type":"integer","format":"int32","default":100},{"name":"WarehouseId","in":"query","description":"Filter by WarehouseId","required":false,"type":"integer","format":"int32","default":0},{"name":"SinceLastUpdated","in":"query","description":"Filter by any ASNs that have been Updated Since supplied Timestamp","required":false,"type":"string","format":"date-time"},{"name":"BookedInStartInterval","in":"query","description":"Filter by any ASNs that have been booked supplied Timestamp","required":false,"type":"string","format":"date-time"},{"name":"BookedInEndInterval","in":"query","description":"Filter by any ASNs that have been booked supplied Timestamp","required":false,"type":"string","format":"date-time"},{"name":"IncludeASNItems","in":"query","description":"Request the ASN items","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/ASN"},"xml":{"name":"ASN","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}/ConnectActions":{"put":{"tags":["ASN"],"summary":"Register ASN Webhook / ASNConnect Action","description":"Can be used to register a Webhook event so that when ASN is booked in a specified URL can be called with details of the book in","operationId":"ASN_UploadConnectAction","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"},{"name":"ConnectAction","in":"body","description":"Connect Action in Body of Result as Json - Type = API, ExtraCode1 = Callback Url,ExtraCode4 = Auth Header Values Complete = false","required":true,"schema":{"$ref":"#/definitions/NewASNConnectAction"}}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/Statuses":{"get":{"tags":["ASN"],"summary":"Get ASN Statuses","description":"Get a list of Possible ASNStatusIds and Names within the system","operationId":"ASN_GetStatuses","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/ASNStatus"},"xml":{"name":"ASNStatus","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/GoodsInTypes":{"get":{"tags":["ASN"],"summary":"Get Goods In Types","description":"Get a list of Possible GoodsInTypes within the system e.g. Pallet, Container","operationId":"ASN_GetGoodsInTypes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/EnumPair"},"xml":{"name":"EnumPair","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}/Confirm":{"get":{"tags":["ASN"],"summary":"Confirm ASN","description":"Confirm ASN is now ready to be expected in the warehouse","operationId":"ASN_ConfirmASN","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}/BookIn":{"get":{"tags":["ASN"],"summary":"Book In ASN - Admin Only","description":"Book in Items on ASN and mark as complete","operationId":"ASN_BookInASN","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid User Permissions to perform Request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}/BookInPartial":{"get":{"tags":["ASN"],"summary":"Book In  Partial ASN - Admin Only","description":"Partially book in ASN  - Not all Items have arrived","operationId":"ASN_BookInASNPartial","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid User Permissions to perform Request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}/PartBook":{"get":{"tags":["ASN"],"summary":"Part Book In ASN - Admin Only","description":"Book in Items that have been received already","operationId":"ASN_PartBook","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid User Permissions to perform Request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}/Paperwork":{"get":{"tags":["ASN"],"summary":"Get ASN Paperwork","description":"Get Paperwork relating to ASN","operationId":"ASN_GetPaperwork","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"type":"string"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid User Permissions to perform Request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}/Items/Receive":{"post":{"tags":["ASN"],"summary":"ASN - Receive Items","description":"Receive Items against a ASN","operationId":"ASN_ReceiveItem","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"},{"name":"Items","in":"body","description":"Json list of the Items being receieved in the body of the request","required":true,"schema":{"items":{"$ref":"#/definitions/ASNItemAllocation"},"xml":{"name":"ASNItemAllocation","wrapped":true},"type":"array"}}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid User Permissions to perform Request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}/MarkAwaitingPutAway":{"get":{"tags":["ASN"],"summary":"Mark ASN as Awiating PutAway - Admin Only","description":"Mark an ASN as Awaiting Put Away. Can be set as Put Away complete to Complete the ASN","operationId":"ASN_MarkAwaitingPutAway","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid User Permissions to perform Request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/ASN/{id}/MarkPutAwayComplete":{"get":{"tags":["ASN"],"summary":"Mark ASN as PutAway Complete - Admin Only","description":"Mark an ASN already in AwaitingPutAway, as PutAway complete. This will Complete the ASN.","operationId":"ASN_MarkPutAwayComplete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the ASN","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"},"403":{"description":"Invalid User Permissions to perform Request"},"404":{"description":"ASN with the supplied ID cannot be found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Auth":{"post":{"tags":["Auth"],"summary":"Authenticate to get an API Key.","description":"The API key is used for authentication of all other API calls. API keys last 24 hours.\r\nAfter that point you'll start receiving 401 unauthorized responses and will need to\r\nrenew the API key.","operationId":"Auth_Post","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/MintsoftAuthRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"400":{"description":"Bad request"},"401":{"description":"Invalid Credentials"},"500":{"description":"Internal Server Error"}}}},"/api/Batch":{"post":{"tags":["Batch"],"summary":"Create Batch","description":"Used for creating a Batch using a List of OrderIDs.","operationId":"Batch_CreateBatch","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Batch","in":"body","required":true,"schema":{"$ref":"#/definitions/NewBatch"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Batch/AssignOrderToUser":{"post":{"tags":["Batch"],"summary":"Assign Order To user","description":"Assigns a single order to a User to pick.","operationId":"Batch_AssignOrderToUser","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"OrderID","in":"query","description":"ID of Order you want to assign.","required":true,"type":"integer","format":"int32"},{"name":"AssignToUser","in":"query","description":"User to assign the Order to.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Batch/AssignBatchToUser":{"post":{"tags":["Batch"],"summary":"Assign Batch To user","description":"Assigns a batch to a User to pick.","operationId":"Batch_AssignBatchToUser","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"BatchID","in":"query","description":"ID of Batch you want to assign.","required":true,"type":"integer","format":"int32"},{"name":"AssignToUser","in":"query","description":"User to assign the Batch to.","required":true,"type":"string"},{"name":"PickingType","in":"query","description":"Picking Type to select.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Batch/List":{"get":{"tags":["Batch"],"summary":"List Batches","description":"Get a List Of Batches Back","operationId":"Batch_ListBatches","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"CreatedSince","in":"query","description":"Filter batches created on or after this date/time.","required":false,"type":"string","format":"date-time"},{"name":"PickingComplete","in":"query","description":"Filter by picking complete status (true/false).","required":false,"type":"boolean"},{"name":"Tote","in":"query","description":"Filter by assigned tote (broad text search).","required":false,"type":"string"}],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/Batch"},"xml":{"name":"Batch","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Batch/{id}":{"get":{"tags":["Batch"],"summary":"Get Batch by ID","description":"Get batch details from ID","operationId":"Batch_GetBatch","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Batch ID","required":true,"type":"integer","format":"int32"},{"name":"includeOrderItems","in":"query","description":"Include Order Items for each Order","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/Order"},"xml":{"name":"Order","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Batch/StatusUpdate/{id}":{"put":{"tags":["Batch"],"summary":"Update Batch Status","description":"Updates status of an existing batch","operationId":"Batch_UpdateBatchStatus","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Batch ID","required":true,"type":"integer","format":"int32"},{"name":"OrderStatus","in":"query","description":"Order Status ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Batch/DespatchBatch":{"post":{"tags":["Batch"],"summary":"Despatch a completed Batch","description":"Despatches a batch, as long as all related orders have been picked.","operationId":"Batch_DespatchBatch","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"batchId","in":"query","description":"ID of Batch you want to despatch","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ToolkitResult"},"xml":{"name":"ToolkitResult","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Batch/Templates":{"get":{"tags":["Batch"],"summary":"List available Batch Templates","description":"Returns a list of available Batch Templates (ID and Reference).","operationId":"Batch_Templates","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/BatchTemplate"},"xml":{"name":"BatchTemplate","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Batch/CreateBatchFromTemplate":{"post":{"tags":["Batch"],"summary":"Create Batch from Template","description":"Creates a Batch from the Template specified (Batch preview settings are ignored for this API call).","operationId":"Batch_CreateBatchFromTemplate","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"batchTemplateId","in":"query","description":"Id of Template to create Batch from","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Batch/DeleteBatch":{"delete":{"tags":["Batch"],"summary":"Delete Batch","description":"Deletes a Batch and unassigns Orders (Orders will NOT be deleted).","operationId":"Batch_DeleteBatch","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"batchId","in":"query","description":"Id of Batch to delete","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Client":{"get":{"tags":["Client"],"summary":"Get Clients","description":"Get list of Clients - Available to Admin users only","operationId":"Client_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"pageNo","in":"query","description":"Page Number","required":false,"type":"integer","format":"int32","default":1},{"name":"limit","in":"query","description":"Number per page (max 100)","required":false,"type":"integer","format":"int32","default":100},{"name":"sinceLastUpdated","in":"query","description":"Updated Since","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/Client"},"xml":{"name":"Client","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"401":{"description":"Invalid UserName or Password or not Admin User"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"post":{"tags":["Client"],"summary":"Create Client","description":"Creates a new Client with General, Customs Information, Picking Costs, Storage Costs, and Goods In Costs fields - Available to Admin users only","operationId":"Client_CreateClient","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Client","in":"body","description":"Client data grouped into General, Customs Information, Picking Costs, Storage Costs, and Goods In Costs sections","required":true,"schema":{"$ref":"#/definitions/CreateClient"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Invalid UserName or Password or not Admin User"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Client/UpdateClient":{"post":{"tags":["Client"],"summary":"Update Client","description":"Updates Client with General, Customs Information, Picking Costs, Storage Costs, and Goods In Costs fields - Available to Admin users only","operationId":"Client_UpdateClient","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Client","in":"body","description":"Client data grouped into General, Customs Information, Picking Costs, Storage Costs, and Goods In Costs sections","required":true,"schema":{"$ref":"#/definitions/UpdateClient"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"401":{"description":"Invalid UserName or Password or not Admin User"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Client/SubClients":{"get":{"tags":["Client"],"summary":"Get a list of SubClients","description":"Get list of SubClients - Available to MasterClient users only","operationId":"Client_SubClients","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/SubClient"},"xml":{"name":"SubClient","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]},"post":{"tags":["Client"],"summary":"Add SubClient","description":"Adds a New SubClient - Available to MasterClient users only","operationId":"Client_AddSubClient","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Client","in":"body","required":true,"schema":{"$ref":"#/definitions/AddSubClient"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Courier/Services":{"get":{"tags":["Courier"],"operationId":"Courier_GetCourierServices","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/CourierService"},"xml":{"name":"CourierService","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Courier/Services/{id}":{"get":{"tags":["Courier"],"operationId":"Courier_GetCourierService","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CourierService"}}},"security":[{"ms-apikey":[]}]}},"/api/Courier/ServiceTypes":{"get":{"tags":["Courier"],"operationId":"Courier_GetCourierServiceTypes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/CourierServiceType"},"xml":{"name":"CourierServiceType","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Courier/Services/{id}/ExternalNames":{"get":{"tags":["Courier"],"operationId":"Courier_GetExternalCourierServiceNames","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ExternalCourierServiceName"},"xml":{"name":"ExternalCourierServiceName","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/Statuses":{"get":{"tags":["Order"],"operationId":"Order_GetOrderStatuses","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderStatus"},"xml":{"name":"OrderStatus","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/Documents/DocumentTypes":{"get":{"tags":["Order"],"operationId":"Order_GetOrderDocumentTypes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderDocumentType"},"xml":{"name":"OrderDocumentType","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/Documents/PaperSizes":{"get":{"tags":["Order"],"operationId":"Order_GetOrderDocumentPaperSizes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/EnumPair"},"xml":{"name":"EnumPair","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/Shipments/TrackingEvents/Statuses":{"get":{"tags":["Order"],"summary":"Tracking Event - Statuses","description":"A List of all the possible Tracking Event Statuses","operationId":"Order_GetOrderShipmentTrackingEventsStatuses","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/EnumPair"},"xml":{"name":"EnumPair","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/Shipments/TrackingEvents/List":{"get":{"tags":["Order"],"summary":"Shipment Tracking Events - List","description":"List Shipment Tracking Events","operationId":"Order_ListTrackingEvents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"PageNo","in":"query","description":"Page No - Default 1","required":false,"type":"integer","format":"int32","default":1},{"name":"Limit","in":"query","description":"Number of Results to Return - Default 500 - Max 500","required":false,"type":"integer","format":"int32","default":500},{"name":"TrackingStatusId","in":"query","description":"Filter by TrackingStatusId","required":false,"type":"integer","format":"int32","default":0},{"name":"SinceLastUpdated","in":"query","description":"Tracking Events that have happened Since Supplied Time","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/OrderShipmentTrackingEvent"},"xml":{"name":"OrderShipmentTrackingEvent","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order":{"put":{"tags":["Order"],"summary":"Create a New Order","description":"Creates a new order in the system. Optionally include Tags as a comma-separated string to add tags during order creation. Optionally include ConnectAction to create an awaiting action for the order.","operationId":"Order_CreateOrder","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Order","in":"body","required":true,"schema":{"$ref":"#/definitions/NewOrderWithItems"}}],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/NewOrderResult"},"xml":{"name":"NewOrderResult","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}":{"get":{"tags":["Order"],"operationId":"Order_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}}},"security":[{"ms-apikey":[]}]},"post":{"tags":["Order"],"summary":"Update Order Details","description":"Update Order Details for an Existing Order - Note Will not Update Order Items use speicified methods for them","operationId":"Order_UpdateOrder","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Order","in":"body","required":true,"schema":{"$ref":"#/definitions/NewOrder"}}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/Search":{"get":{"tags":["Order"],"summary":"","operationId":"Order_SearchOrder","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"OrderNumber","in":"query","required":true,"type":"string"},{"name":"exactMatch","in":"query","required":false,"type":"boolean","default":false},{"name":"includeOrderItems","in":"query","description":"Only supported when exactMatch is also == true.","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/Order"},"xml":{"name":"Order","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/GetOrderId":{"get":{"tags":["Order"],"summary":"Get Order ID by Order Number (Exact Match)","operationId":"Order_GetOrderId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"orderNumber","in":"query","description":"Order Number to look up (exact match)","required":true,"type":"string"},{"name":"warehouseId","in":"query","description":"Optional Warehouse ID to filter by","required":false,"type":"integer","format":"int32"},{"name":"clientId","in":"query","description":"Optional Client ID to filter by","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Order found","schema":{"type":"object"}},"400":{"description":"Invalid WarehouseId or ClientId"},"404":{"description":"Order not found or not accessible"}},"security":[{"ms-apikey":[]}]}},"/api/Order/TrackingNumberSearch":{"get":{"tags":["Order"],"summary":"Search Order by Tracking Number (Exact Match)","operationId":"Order_TrackingNumberSearch","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"TrackingNumber","in":"query","description":"Tracking Number to search for (exact match)","required":true,"type":"string"},{"name":"includeOrderItems","in":"query","description":"Include Order Items in the response","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/Channels":{"get":{"tags":["Order"],"operationId":"Order_GetChannels","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/Channel"},"xml":{"name":"Channel","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/List":{"get":{"tags":["Order"],"operationId":"Order_ListOrders","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"OrderStatusId","in":"query","required":false,"type":"integer","format":"int32","default":0},{"name":"ClientId","in":"query","required":false,"type":"integer","format":"int32","default":0},{"name":"ChannelId","in":"query","required":false,"type":"integer","format":"int32","default":0},{"name":"CourierServiceId","in":"query","required":false,"type":"integer","format":"int32","default":0},{"name":"WarehouseId","in":"query","required":false,"type":"integer","format":"int32","default":0},{"name":"PageNo","in":"query","required":false,"type":"integer","format":"int32","default":1},{"name":"Limit","in":"query","required":false,"type":"integer","format":"int32","default":100},{"name":"SinceDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"SinceLastUpdated","in":"query","required":false,"type":"string","format":"date-time"},{"name":"SinceDespatchDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"ToDate","in":"query","required":false,"type":"string","format":"date-time"},{"name":"ExcludeTags","in":"query","required":false,"type":"string"},{"name":"IncludeTags","in":"query","required":false,"type":"string"},{"name":"IncludeOrderItems","in":"query","required":false,"type":"boolean","default":false},{"name":"showB2BOnly","in":"query","required":false,"type":"boolean","default":false},{"name":"SortOldestFirst","in":"query","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/Order"},"xml":{"name":"Order","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Items":{"get":{"tags":["Order"],"summary":"Get Order Items","description":"Get All of the Items for an Order","operationId":"Order_Items","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderItem"},"xml":{"name":"OrderItem","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]},"put":{"tags":["Order"],"summary":"Add new item to the existing order","description":"Add new Order Item - Can be used for adding an new Item","operationId":"Order_AddOrderItem","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"},{"name":"OrderItem","in":"body","required":true,"schema":{"$ref":"#/definitions/NewOrderItem"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Items/{ItemId}":{"post":{"tags":["Order"],"summary":"Update Order Item","description":"Update Order Item - Can be used for editing the quantity of an Item","operationId":"Order_UpdateOrderItem","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"},{"name":"ItemId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"OrderItem","in":"body","required":true,"schema":{"$ref":"#/definitions/NewOrderItem"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]},"delete":{"tags":["Order"],"summary":"Delete Order Item","description":"Delete Order Item","operationId":"Order_DeleteOrderItem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"},{"name":"ItemId","in":"path","description":"OrderItemId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Cancel":{"get":{"tags":["Order"],"operationId":"Order_CancelOrder","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/CancelNoStock":{"get":{"tags":["Order"],"description":"Cancel an Order as No Stock","operationId":"Order_CancelOrderNoStock","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkDespatched":{"get":{"tags":["Order"],"summary":"MarkDespatched","description":"Marks an Order as Despatched","operationId":"Order_MarkDespatched","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"},{"name":"TrackingNumber","in":"query","description":"TrackingNumber","required":false,"type":"string","default":""}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkPrinted":{"get":{"tags":["Order"],"summary":"MarkPrinted","description":"Marks an Order as Printed","operationId":"Order_MarkPrinted","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"},{"name":"Comment","in":"query","description":"Comment","required":false,"type":"string","default":""}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/UpdateNumberOfParcels":{"get":{"tags":["Order"],"summary":"Update Number Of Parcels","description":"Updates Number Of Parcels on an Order","operationId":"Order_UpdateNumberOfParcels","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"},{"name":"NumberOfParcels","in":"query","description":"NumberOfParcels","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkAwaitingPayment":{"get":{"tags":["Order"],"summary":"MarkAwaitingPayment","description":"Mark an Order as Awaiting Payment - Moves it to a AwaitingPayment Status","operationId":"Order_MarkAwaitingPayment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkPaymentReceived":{"get":{"tags":["Order"],"summary":"MarkPaymentReceived","description":"Mark an Order as Payment Received Payment - Moves it to an Order from AwaitingPayment Status so it can be processed","operationId":"Order_MarkPaymentReceived","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkAwaitingConfirmation":{"get":{"tags":["Order"],"summary":"MarkAwaitingConfirmation","description":"Mark an Order as Awaiting Confirmation - Moves it to a AwaitingConfirmation Status","operationId":"Order_MarkAwaitingConfirmation","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkConfirmed":{"get":{"tags":["Order"],"summary":"MarkConfirmed","description":"Mark an Order as Confirmed - Moves it to an Order from AwaitingConfirmation Status so it can be processed","operationId":"Order_MarkConfirmed","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkPackAndHold":{"get":{"tags":["Order"],"summary":"MarkPackAndHold","description":"Mark an Order as Pack And Hold- Moves it to an Order To PackAndHold Status to be released for despatch at a future date","operationId":"Order_MarkPackAndHold","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"},{"name":"ReleaseDate","in":"query","description":"Date you want the order released","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkReleasePackAndHold":{"get":{"tags":["Order"],"summary":"MarkReleasePackAndHold","description":"Release an Order as Pack And Hold - Moves it to an Order to it's orginal status","operationId":"Order_MarkReleasePackAndHold","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/DespatchNote":{"get":{"tags":["Order"],"operationId":"Order_DespatchNote","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Comments":{"get":{"tags":["Order"],"operationId":"Order_Comments","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderComment"},"xml":{"name":"OrderComment","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]},"post":{"tags":["Order"],"operationId":"Order_AddOrderComment","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Comment","in":"body","required":true,"schema":{"$ref":"#/definitions/NewOrderComment"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Splits":{"get":{"tags":["Order"],"operationId":"Order_OrderSplit","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderSplit"},"xml":{"name":"OrderSplit","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Documents":{"get":{"tags":["Order"],"operationId":"Order_Documents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderDocument"},"xml":{"name":"OrderDocument","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]},"put":{"tags":["Order"],"operationId":"Order_UploadOrderDocument","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"OrderDocument","in":"body","required":true,"schema":{"$ref":"#/definitions/NewOrderDocument"}},{"name":"PrintWithOrder","in":"query","required":true,"type":"boolean"},{"name":"DocumentTypeId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"PaperSize","in":"query","required":false,"type":"integer","format":"int32","default":1,"enum":[0,1,2,3,4]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Documents/{DocumentId}/Data":{"get":{"tags":["Order"],"operationId":"Order_GetDocumentData","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"DocumentId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Documents/{DocumentId}":{"get":{"tags":["Order"],"operationId":"Order_GetDocument","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"DocumentId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderDocument"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/BoxPackingList":{"get":{"tags":["Order"],"operationId":"Order_GetBoxPackingList","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoxPackingListResponse"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Documents/{DocumentId}/MarkPrinted":{"get":{"tags":["Order"],"operationId":"Order_MarkDocumentAsPrinted","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"DocumentId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Tag":{"put":{"tags":["Order"],"operationId":"Order_AddOrderTag","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Tag","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]},"delete":{"tags":["Order"],"operationId":"Order_DeleteOrderTag","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"Tag","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Shipments":{"get":{"tags":["Order"],"operationId":"Order_GetOrderShipment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderShipment"},"xml":{"name":"OrderShipment","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]},"put":{"tags":["Order"],"operationId":"Order_UploadOrderShipment","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"OrderShipment","in":"body","required":true,"schema":{"$ref":"#/definitions/NewOrderShipment"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Shipments/{OrderShipmentId}":{"delete":{"tags":["Order"],"operationId":"Order_DeleteOrderShipment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"OrderShipmentId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Shipments/CreateShipment":{"post":{"tags":["Order"],"summary":"Create Shipment - using Courier API Connection","description":"Create a Courier Shipment using the Courier API Connection. Will make an API request to the assigned courier relating to the order.","operationId":"Order_CreateShipment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"},{"name":"CourierServiceId","in":"query","description":"Optional - CourierServiceId if you want to update CourierService before creating a shipment","required":false,"type":"integer","format":"int32","default":0},{"name":"NumberOfParcels","in":"query","description":"Optional - NumberOfParcels if you want to update NumberOfParcels field before creating a shipment","required":false,"type":"integer","format":"int32","default":0}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ShipmentResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Shipments/CancelShipment":{"delete":{"tags":["Order"],"summary":"Cancel Shipment - using Courier API Connection","description":"Cancel a Courier Shipment using the Courier API Connection. Where supported.","operationId":"Order_CancelShipment","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/ConnectActions":{"get":{"tags":["Order"],"operationId":"Order_GetConnectAction","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderAwaitingAction"},"xml":{"name":"OrderAwaitingAction","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]},"put":{"tags":["Order"],"operationId":"Order_UploadConnectAction","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"OrderShipment","in":"body","required":true,"schema":{"$ref":"#/definitions/NewOrderConnectAction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Allocations":{"get":{"tags":["Order"],"summary":"Order Allocations","description":"Get a list of the Stock Allocated to an Order including Batch and BB Details","operationId":"Order_Allocations","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/ProductInLocation"},"xml":{"name":"ProductInLocation","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/BarcodeVerifiedOrderItems":{"get":{"tags":["Order"],"summary":"Order Barcode Verifications","description":"Get a list of Barcode Scanning including Batch and Serial Details","operationId":"Order_BarcodeVerifiedOrderItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/BarcodeVerifiedOrderItem"},"xml":{"name":"BarcodeVerifiedOrderItem","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Queries":{"get":{"tags":["Order"],"operationId":"Order_Queries","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderQuery"},"xml":{"name":"OrderQuery","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/Queries/{QueryId}/Comments":{"get":{"tags":["Order"],"operationId":"Order_QueryComments","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"},{"name":"QueryId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderQueryComment"},"xml":{"name":"OrderQueryComment","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/SplitOrderItems":{"post":{"tags":["Order"],"summary":"SplitOrderItems","description":"Split given OrderItems from existing order onto a new Order that could be despatched seperately.","operationId":"Order_SplitOrderItems","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"},{"name":"OrderItemsToSplit","in":"body","description":"Order Items to Split onto new order","required":true,"schema":{"items":{"$ref":"#/definitions/SplitOrderOnOrderItems"},"xml":{"name":"SplitOrderOnOrderItems","wrapped":true},"type":"array"}}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/BillingAddress":{"get":{"tags":["Order"],"summary":"Get Billing Address for Order","description":"Returns the Billing Address for an OrderID if one is present.","operationId":"Order_BillingAddress","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"OrderId","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/Address"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkFraudRisk":{"post":{"tags":["Order"],"summary":"Marks Fraud Risk","description":"Marks an order as Fraud","operationId":"Order_MarkFraudRisk","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Order Id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Order/{id}/MarkFraudRiskAccepted":{"post":{"tags":["Order"],"summary":"Marks Fraud Risk Accepted","description":"Marks an order as Fraud Accepted","operationId":"Order_MarkFraudRiskAccepted","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Order Id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/OrderRules":{"get":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_GetOrderRules","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"clientId","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/OrderRule"},"xml":{"name":"OrderRule","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"put":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_UpdateOrderRule","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"orderRule","in":"body","required":true,"schema":{"$ref":"#/definitions/OrderRule"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"post":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_AddOrderRule","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"orderRule","in":"body","required":true,"schema":{"$ref":"#/definitions/OrderRule"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/OrderRules/{id}":{"delete":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_DeleteOrderRule","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/OrderRules/{id}/Activate":{"post":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_MarkOrderRuleActive","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/OrderRules/{id}/Deactivate":{"post":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_MarkOrderRuleInactive","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/OrderRules/{orderRuleId}/Conditions":{"post":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_AddOrderRuleCondition","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"orderRuleId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/AddOrderRuleConditionRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/OrderRules/Conditions/{id}":{"delete":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_DeleteOrderRuleCondition","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/OrderRules/Actions":{"get":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_GetOrderRuleActions","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"type":"string"},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/OrderRules/ConditionOptions":{"get":{"tags":["OrderRules"],"summary":"","description":"","operationId":"OrderRules_GetOrderRuleConditionOptions","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderRuleConditionOptions"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/OrderRules/Run/{orderId}":{"post":{"tags":["OrderRules"],"summary":"Run Order rules against a specific order. Please note order rules run automatically when an order is created as well.","description":"","operationId":"OrderRules_RunOrderRules","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"orderId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/RunOrderRulesResult"},"xml":{"name":"RunOrderRulesResult","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product":{"put":{"tags":["Product"],"summary":"Create New Product","description":"Create a new Product","operationId":"Product_CreateProduct","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Product","in":"body","description":"Product ID","required":true,"schema":{"$ref":"#/definitions/Product"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewProductResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"post":{"tags":["Product"],"summary":"Update Product","description":"Updates an Existing Product","operationId":"Product_UpdateProduct","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Product","in":"body","description":"Product","required":true,"schema":{"$ref":"#/definitions/Product"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}":{"get":{"tags":["Product"],"summary":"Get Product","description":"Get Details about Bundle and Items in the Bundle","operationId":"Product_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Product"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"delete":{"tags":["Product"],"summary":"Delete a Product","description":"Deletes a product - Product cannot be associated to other entities such as Order, ASN, Bundles etc","operationId":"Product_DeleteProduct","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product Id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"403":{"description":"Don't have access to the Product or Role to delete"},"404":{"description":"Cannot find product with ID"}},"security":[{"ms-apikey":[]}]}},"/api/Product/ProductPrices":{"put":{"tags":["Product"],"summary":"Add or Update Product Prices","description":"Adds new Product Prices (Limit of 1 Concurrent Request per Mintsoft Customer)","operationId":"Product_UpdateProductPrices","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Prices","in":"body","description":"Prices","required":true,"schema":{"items":{"$ref":"#/definitions/NewProductPrice"},"xml":{"name":"NewProductPrice","wrapped":true},"type":"array"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"delete":{"tags":["Product"],"summary":"Delete Product Prices","description":"Deletes an Existing Product Price","operationId":"Product_DeleteProductPrices","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Prices","in":"body","description":"Product Prices","required":true,"schema":{"items":{"$ref":"#/definitions/NewProductPrice"},"xml":{"name":"NewProductPrice","wrapped":true},"type":"array"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/List":{"get":{"tags":["Product"],"summary":"List Products","description":"Get a List Of Products Back","operationId":"Product_ListProducts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"PageNo","in":"query","description":"Page No - Default 1","required":false,"type":"integer","format":"int32","default":1},{"name":"Limit","in":"query","description":"Number of Results to Return - Default 100 - Max 100","required":false,"type":"integer","format":"int32","default":100},{"name":"ClientId","in":"query","description":"Filter by Client Id - Admin User Only","required":false,"type":"integer","format":"int32","default":0},{"name":"SinceLastUpdated","in":"query","description":"Products that have been updated Since Supplied Time","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/Product"},"xml":{"name":"Product","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/Bundle":{"put":{"tags":["Product"],"summary":"Create New Bundle","description":"Create a new Bundle","operationId":"Product_CreateBundle","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Bundle","in":"body","description":"Bundle","required":true,"schema":{"$ref":"#/definitions/Bundle"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewProductResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/Bundle":{"get":{"tags":["Product"],"summary":"Get Bundle","description":"Get Details about Bundle and Items in the Bundle","operationId":"Product_GetBundle","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Bundle"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/StockFlow":{"get":{"tags":["Product"],"summary":"Get Stock Flow Records","description":"Get StockFlow Items by SKU, and Date","operationId":"Product_GetStockFlow","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"},{"name":"FromDate","in":"query","description":"From Date e.g. 2011-10-05T22:26:12-04:00","required":true,"type":"string","format":"date-time"},{"name":"ToDate","in":"query","description":"To Date e.g. 2011-10-05T22:26:12-04:00","required":true,"type":"string","format":"date-time"},{"name":"IncludeDetails","in":"query","description":"Include StockFlowDetails","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/StockFlow"},"xml":{"name":"StockFlow","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/Cartons":{"get":{"tags":["Product"],"summary":"Get Cartons","description":"Get Cartons for a ProductID","operationId":"Product_GetCartons","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ProductContainer"},"xml":{"name":"ProductContainer","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"post":{"tags":["Product"],"summary":"Bulk Add Cartons","description":"Add Cartons against a Product","operationId":"Product_BulkAddCartons","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"},{"name":"Cartons","in":"body","description":"Array of Cartons for product","required":true,"schema":{"items":{"$ref":"#/definitions/ProductContainer"},"xml":{"name":"ProductContainer","wrapped":true},"type":"array"}}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ToolkitResult"},"xml":{"name":"ToolkitResult","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/Carton/{cartonId}":{"delete":{"tags":["Product"],"summary":"Delete Carton","description":"Delete Carton against a Product","operationId":"Product_DeleteCarton","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"},{"name":"cartonId","in":"path","description":"ID of Carton to delete","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/AltCodes":{"get":{"tags":["Product"],"summary":"Get Alt Codes","description":"Get Alternative Codes for a ProductID","operationId":"Product_GetAltCodes","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ProductAltCode"},"xml":{"name":"ProductAltCode","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]},"post":{"tags":["Product"],"summary":"Add Alt Code","description":"Add an AltCode against a Product","operationId":"Product_AddAddAlt","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"},{"name":"SKU","in":"query","description":"The Alternative SKU you want to add","required":true,"type":"string"},{"name":"ConnectMappingType","in":"query","description":"The Type e.g. Amazon, Ebay, API etc","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/StockFlow/Filtered":{"get":{"tags":["Product"],"summary":"Get Stock Flow Records - Filtered","description":"Get StockFlow Items by SKU, and Date, WarehouseId, Types etc","operationId":"Product_GetStockFlowFiltered","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"FromDate","in":"query","description":"From Date e.g. 2011-10-05T22:26:12-04:00","required":true,"type":"string","format":"date-time"},{"name":"ToDate","in":"query","description":"To Date e.g. 2011-10-05T22:26:12-04:00","required":true,"type":"string","format":"date-time"},{"name":"id","in":"path","description":"Product ID - Can be 0 if Supplying SKU","required":true,"type":"integer","format":"int32","default":0},{"name":"SKU","in":"query","description":"Product SKU - Optional","required":false,"type":"string","default":""},{"name":"WarehouseId","in":"query","description":"WarehouseId e.g. 3","required":false,"type":"integer","format":"int32","default":0},{"name":"Types","in":"query","description":"Types of Flows to show e.g. ALL,IN, OUT, ALLOCATE, UNALLOCATE,TRANSFER, SCRAP - Multiple can be ; list e.g. IN;OUT","required":false,"type":"string","default":""},{"name":"IncludeOrders","in":"query","description":"Include Flows that relate to Orders","required":false,"type":"boolean","default":true},{"name":"IncludeReturns","in":"query","description":"Include Flows that relate to Returns","required":false,"type":"boolean","default":true},{"name":"IncludeDetails","in":"query","description":"Include StockFlowDetails","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/StockFlow"},"xml":{"name":"StockFlow","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/Inventory":{"get":{"tags":["Product"],"summary":"Get Inventory Records","description":"Get Inventory Records relating to a ProductId","operationId":"Product_GetInventory","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"},{"name":"breakdown","in":"query","description":"Include a Breakdown of that StockHolding by Batch, Serial, BestBefore etc","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/InventoryItem"},"xml":{"name":"InventoryItem","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/Inventory/Bulk":{"get":{"tags":["Product"],"summary":"Get Inventory Records for Multiple Products (Paged)","description":"Get Inventory Records for Multiple Products, paged by Product count","operationId":"Product_GetBulkInventory","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"PageNo","in":"query","description":"Page No - Default 1","required":false,"type":"integer","format":"int32","default":1},{"name":"Limit","in":"query","description":"Number of Products to Return Inventory For - Default 100 - Max 500","required":false,"type":"integer","format":"int32","default":100},{"name":"ClientId","in":"query","description":"Filter by Client Id - Admin User Only","required":false,"type":"integer","format":"int32","default":0},{"name":"WarehouseId","in":"query","description":"Filter by Warehouse Id - Default 0 (All Warehouses)","required":false,"type":"integer","format":"int32","default":0},{"name":"LastUpdatedSince","in":"query","description":"Filter by LastUpdated - Only return inventory records updated since the supplied date/time","required":false,"type":"string","format":"date-time"},{"name":"Breakdown","in":"query","description":"Include a Breakdown of that StockHolding by Batch, Serial, BestBefore etc","required":false,"type":"boolean","default":false},{"name":"SKU","in":"query","description":"Filter by Product SKU (exact match) - Optional","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/BulkInventoryItem"},"xml":{"name":"BulkInventoryItem","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/Search":{"get":{"tags":["Product"],"summary":"Product Search by SKU/Name","description":"Returns a list of products by searching on SKU and Name","operationId":"Product_SearchProducts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"Search","in":"query","description":"Text to Search","required":true,"type":"string"},{"name":"IncludeBundles","in":"query","description":"Include Bundles in the search","required":false,"type":"boolean","default":false},{"name":"IncludeDiscontinued","in":"query","description":"Include products that have been discontinued in the search","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/Product"},"xml":{"name":"Product","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/LookupProductId":{"get":{"tags":["Product"],"summary":"Lookup Product Id","description":"Lookup ProductId using SKU or Alt Code SKU","operationId":"Product_LookupProductId","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"SKU","in":"query","description":"SKU to search","required":true,"type":"string"},{"name":"ConnectMappingType","in":"query","description":"Can be left blank if not searching Alt SKUs. e.g. Amazon, Ebay etc","required":false,"type":"string","default":""},{"name":"ClientId","in":"query","description":"Default 0 - Only needs to be supplied by Admin or Client Master Users","required":false,"type":"integer","format":"int32","default":0}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/SearchBarcode":{"get":{"tags":["Product"],"summary":"Search Product Barcode","description":"Attempts to find a Product based on the barcode","operationId":"Product_SearchBarcode","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"Barcode","in":"query","description":"Product Barcode can be SKU, EAN, UPC based","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Product"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/StockLevels":{"get":{"tags":["Product"],"summary":"Get Stock Levels","description":"Get Stock Levels of Products in Warehouse","operationId":"Product_GetStockLevels","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"WarehouseId","in":"query","description":"WarehouseId that you want to get stock levels for (i.e 3 for warehouse 3, 0 for all warehouses together, blank for all warehouses one by one)","required":false,"type":"integer","format":"int32"},{"name":"Breakdown","in":"query","description":"Include a Breakdown of that StockHolding by Batch, Serial, BestBefore etc","required":false,"type":"boolean","default":false},{"name":"ProductId","in":"query","description":"Product Id - Optional.","required":false,"type":"integer","format":"int32","default":0},{"name":"SKU","in":"query","description":"Product SKU - Optional","required":false,"type":"string"},{"name":"IncludeSubclients","in":"query","description":"Include results for sub clients if user is master client (this feature is currently disabled for most users)","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/StockLevel"},"xml":{"name":"StockLevel","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/StockLevelsByWarehouse":{"get":{"tags":["Product"],"summary":"Get Stock Levels By Warehouse","description":"Get Stock Levels By Warehouse - Raw Stock Levels - Bundles not supported. Based on Inventory so you'll only get results where inventory record exists","operationId":"Product_StockLevelsByWarehouse","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"WarehouseId","in":"query","description":"WarehouseId that you want to get stock levels for (i.e 3 for warehouse 3)","required":true,"type":"integer","format":"int32"},{"name":"LastUpdatedSince","in":"query","description":"Filter list by LastUpdated time supplied so you only get one's that have changed since the supplied datetime","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/StockLevel"},"xml":{"name":"StockLevel","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/Inventory/PreOrderBreakdown":{"get":{"tags":["Product"],"summary":"Get an Inventory Pre Order Breakdown for a specified Product and WarehouseId","description":"Gets InventoryPreOrderBreakdown","operationId":"Product_GetInventoryPreOrderBreakdown","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"},{"name":"WarehouseId","in":"query","description":"WarehouseId ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InventoryPreOrderBreakdown"}},"404":{"description":"Product ID Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/Inventory/PreOrderBreakdown/All":{"get":{"tags":["Product"],"summary":"Get an Inventory Pre Order Breakdown for a specified Product and All Warehouses","description":"Gets InventoryPreOrderBreakdown","operationId":"Product_GetInventoryPreOrderBreakdownAllWarehouses","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/InventoryPreOrderBreakdown"},"xml":{"name":"InventoryPreOrderBreakdown","wrapped":true},"type":"array"}},"404":{"description":"Product ID Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/UpdatedSince":{"get":{"tags":["Product"],"summary":"Products Updated Since","description":"Gets a List of ProductsIds that have been updated since the FromDate supplied","operationId":"Product_GetProductChanges","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"FromDate","in":"query","description":"The Date","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"items":{"type":"integer","format":"int32"},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/StockLevels/UpdatedSince":{"get":{"tags":["Product"],"summary":"Products StockLevels Updated Since","description":"Gets a List of ProductsIds that whose StockLevels have changed since the FromDate supplied","operationId":"Product_GetStockLevelsUpdatedSince","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"FromDate","in":"query","description":"The Date","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"items":{"type":"integer","format":"int32"},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/Suppliers":{"get":{"tags":["Product"],"summary":"List Product Suppliers","description":"Get paged list of Product Suppliers","operationId":"Product_ListSuppliers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ClientId","in":"query","description":"Filter by Client Id - Admin User Only","required":false,"type":"integer","format":"int32","default":0},{"name":"PageNo","in":"query","description":"Page No - Default 1","required":false,"type":"integer","format":"int32","default":1},{"name":"Limit","in":"query","description":"Number of Results to Return - Default 100 - Max 100","required":false,"type":"integer","format":"int32","default":100}],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/ProductSupplier"},"xml":{"name":"ProductSupplier","wrapped":true},"type":"array"}},"400":{"description":"Bad request"}},"security":[{"ms-apikey":[]}]},"put":{"tags":["Product"],"summary":"Create New Product Supplier","description":"Create a New Product Supplier","operationId":"Product_CreateSupplier","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"ProductSupplier","in":"body","description":"ProductSupplier","required":true,"schema":{"$ref":"#/definitions/ProductSupplier"}}],"responses":{"200":{"description":"Request Successful","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/BulkOnHandStockUpdate":{"post":{"tags":["Product"],"summary":"Bulk On Hand Stock Update","description":"Update OnHand Stock Level to Provided Level and return results. Must use Integer Values","operationId":"Product_BulkOnHandStockUpdate","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Records","in":"body","description":"Update Requests","required":true,"schema":{"items":{"$ref":"#/definitions/BulkOnHandStockUpdate"},"xml":{"name":"BulkOnHandStockUpdate","wrapped":true},"type":"array"}},{"name":"ClientId","in":"query","description":"Client ID","required":false,"type":"integer","format":"int32","default":0}],"responses":{"200":{"description":"Request Successful","schema":{"items":{"$ref":"#/definitions/BulkStockUpdateResult"},"xml":{"name":"BulkStockUpdateResult","wrapped":true},"type":"array"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/Product/{id}/CustomFields":{"post":{"tags":["Product"],"summary":"Add Product Custom Field","description":"Add a Product Custom Field mapping against a Product","operationId":"Product_AddCustomField","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Product ID","required":true,"type":"integer","format":"int32"},{"name":"ProductCustomField","in":"body","required":true,"schema":{"$ref":"#/definitions/ProductCustomField"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ToolkitResult"}},"400":{"description":"Bad request"},"500":{"description":"Internal Server Error"}},"security":[{"ms-apikey":[]}]}},"/api/RefData/Countries":{"get":{"tags":["RefData"],"summary":"Get Countries","operationId":"RefData_Countries","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/Country"},"xml":{"name":"Country","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/RefData/Currencies":{"get":{"tags":["RefData"],"summary":"Get Currencies","operationId":"RefData_Currencies","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/Currency"},"xml":{"name":"Currency","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/RefData/PickingTypes":{"get":{"tags":["RefData"],"summary":"Get Picking Types","operationId":"RefData_PickingTypes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"type":"string"},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/RefData/PriceTypes":{"get":{"tags":["RefData"],"summary":"Get Product Price Types","operationId":"RefData_PricingTypes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ProductPriceType"},"xml":{"name":"ProductPriceType","wrapped":true},"type":"array"}}},"security":[{"ms-apikey":[]}]}},"/api/ReplenPoints":{"get":{"tags":["ReplenPoint"],"summary":"List Product Replenishment Points","description":"Get a paged list of product replenishment points with optional filters","operationId":"ReplenPoint_ListReplenPoints","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ProductId","in":"query","description":"Filter by Product ID (optional)","required":false,"type":"integer","format":"int32"},{"name":"SKU","in":"query","description":"Filter by Product SKU (optional)","required":false,"type":"string"},{"name":"LocationTypeId","in":"query","description":"Filter by Location Type ID (optional)","required":false,"type":"integer","format":"int32"},{"name":"PageNo","in":"query","description":"Page number - Default 1","required":false,"type":"integer","format":"int32","default":1},{"name":"Limit","in":"query","desc
[...]
